apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "db-chart.fullname" . }}
  namespace: db-space
spec:
  serviceName: {{ .Values.service.name }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      # 1. Added ServiceAccount so this pod can talk to Vault
      serviceAccountName: db-sa 
      containers:
        - name: postgres
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-db-secret  # Must be created in db-space namespace
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-db-secret
                  key: password
            - name: POSTGRES_DB
              value: {{ .Values.auth.database | quote }}
